data/crvusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/ethusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/eurusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/bnbusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/arbusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/linkusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/crvusdt-1m-brief.json.gz filter=lfs diff=lfs merge=lfs -text
data/trxusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/cvxusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/btcusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/lusdusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/mimusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
data/susdusdt-1m.json.gz filter=lfs diff=lfs merge=lfs -text
